* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(to right, #55A0CC 33.33%, #1F487E, #1D3461);
    margin: 0;
}

li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}

li {
    float: right;
    padding-right: 20px;
}
.serviceList {
    list-style-type: circle;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.serviceListItems {
    float: none;
    padding-right: 20px;
    display: block;
}

#churchPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 70%;
    border-radius: 5px;
}

#pic {
    background: linear-gradient(to right, #55A0CC 33.33%, #1F487E, #1D3461);
    overflow: auto;
    position: absolute;
    
}
#fbIcon {
    height:10%;
    width: 10%;
}

#sancPic {
    width: 20%;
    height: 600px;
    float: left;
    margin-right: 6.66%;
    border-radius: 5px;
}
#lastSancPic {
    width: 20%;
    height: 600px;
    border-radius: 5px;
    
}

#blueLine {
    background: linear-gradient(to right, #55A0CC 33.33%, #1F487E, #1D3461);
    width: 100%;
    height: 1%;
}

#icon {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20pt;
}

li a {
    display: block;
    font-size: 13pt;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-top: 5px;
    text-decoration: none;
    border-right: 1px solid #FFFFFF;
}
#last {
border-right: none;
}

#fbIcon{
    height: 20px;
    width: 20px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #55A0CC;
    color: white;
     border-radius: 10px;
}

/* Create two equal columns that floats next to each other */
.column {

    float: left;
    width: 50%;
    padding: 10px;
    height: 30%;
    overflow: auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.clear {
clear: both;
}
.active {
    background-color: white;
    color: black;
    border-radius: 10px;
}
@media screen and (max-width: 500px) {
  .column {
    width: 50%;
  }
}

.container {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #55A0CC 33.33%, #1F487E, #1D3461);
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
    border-radius: 10px;

}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
    background: linear-gradient(to right, #55A0CC 33.33%, #1F487E, #1D3461);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.footer {
    bottom: 0;
    background-color: #BBBBBB;
}

#greyLine {

    background-color: black;
    width: 100%;
    height: 1%;

}
#footerText {
    font-size: 5pt;
    float: right;
    margin-right: 10px;
}
iframe {
    height: 90%;
}